.topnav {
  height: 128px;
  background-color: var(--primary-color);
  padding: 50px 120px;
  overflow: hidden;
  position: relative;
}

.topnav > img {
  width: 93px;
  height: 38px;
  display: block;
}

.topnav #myLinks {
  display: block;
}

.topnav a.icon {
  background: var(--primary-color);
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 38px;
  right: 40px;
}

.topnav a > img {
  width: 45px;
  height: 35px;
}

.topnav a {
  color: rgb(230, 2, 2);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.landing_section {
  display: flex;
  flex-direction: column;
}

.landing-bg {
  height: 430px;
  width: 100%;
  background-image: url(./assets/imgs/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
}

.landing-bg img {
  width: 200px;
  height: 200px;
  transform: translateY(80px);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 50px 0;
  gap: 20px;
}

.headline p {
  font-family: "Palanquin";
  font-weight: 700;
  line-height: 120%;
  font-size: 1.5rem;
}

.text {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content_wrapper {
  display: flex;
}

.menu_section {
  height: 100vh;
  width: calc(100% - 435px);
}

.menu_head {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  background-color: var(--primary-color);
  height: 60px;
  padding: 50px 200px 0;
}

.menu_head img {
  width: 88px;
  height: 91px;
  position: absolute;
  align-self: flex-end;
}

.menu_head p {
  transform: translate(100px, -25px);
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}

.meals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 140px;
  padding: 10px;
  margin: 20px 120px 50px;
  background: var(--secondary-color);
  border-radius: 12px;
}

.meals img {
  width: 200px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

