.basket_frame {
  width: 435px;
  flex-grow: 1;
}

.basket_style {
  width: 435px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--tertiary-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.basket_style h3 {
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 2rem;
  color: var(--secondary-color);
  padding: 60px 125px;
}

.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.err p {
  text-align: center;
  font-family: "Palanquin";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--secondary-color);
  padding-bottom: 70px;
}

.meal_card {
  width: 340px;
  height: 110px;
  background: var(--secondary-color);
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.meal_card > p {
  padding: 20px 0 0 20px;
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--tertiary-color);
}

.price_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.price_section p {
  font-family: "Palanquin";
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 120%;
}

.content_style {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;
}

.content_style {
  --sb-track-color: #232e33;
  --sb-thumb-color: #e7c3ad;
  --sb-size: 6px;
}

.content_style::-webkit-scrollbar {
  width: var(--sb-size);
}

.content_style::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 30px;
}

.content_style::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
}

@supports not selector(::-webkit-scrollbar) {
  .content_style {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.checkout_style {
  width: 340px;
  height: 210px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
}

.checkout_style p {
  font-family: "Palanquin";
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.line-decoration {
  border-bottom: 3px solid white;
  padding: 8px 0 15px;
}

.checkout_style h6 {
  font-family: "Palanquin";
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  padding: 10px 0 15px;
}

.checkout_style button {
  width: 320px;
  height: 64px;
  border-radius: 60px;
  padding: 13px 55px;
}

.subtotal_price {
  display: flex;
  justify-content: space-between;
}

.raise_btn {
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  width: 55px;
}

.quantity img {
    padding-top: 5px;
}
