@media screen and (min-width: 1440px) {
  .topnav {
    padding: 50px max(120px, calc(50% - 720px));
  }

  .landing_section {
    padding: 0 max(120px, calc(50% - 720px));
  }

  .content_wrapper {
    padding: 0 max(120px, calc(50% - 720px));
  }

  .card_section {
    padding: 0;
  }

  .menu_head {
    padding-left: 160px;
  }
}

@media screen and (max-width: 480px) {
  .basket_frame {
    display: none;
  }
}
